body {
    display: grid;
    grid-template: "title title room-container" "input-title control-title control-title" "inputs control-buttons control-buttons" / 500px auto;
}

#title {
    grid-area: title;
}

#room-container {
    grid-area: room-container;
    display: grid;
    grid-template: "room-code room-button" / 1fr auto;
}

#room-code {
    grid-area: room-code;
    align-self: center;
    justify-self: end;
}

#room-button {
    grid-area: room-button;
    align-self: center;
    justify-self: end;
}

#join {
    grid-area: join;
    align-self: center;
    justify-self: end;
}

#control-title {
    grid-area: control-title;
    display: none;
}

#control-buttons {
    grid-area: control-buttons;
    display: none;
}

#input-title {
    grid-area: input-title;
}

#add-player {
    grid-area: add-player;
    align-self: center;
}

#inputs {
    grid-area: inputs;
}

.element-list {
    display: grid;
    justify-content: start;
    align-content: start;
    row-gap: 5px;
}